@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

* { box-sizing: border-box; }

body {
  font-family: 'Sarabun', sans-serif;
}

.scrollbar-thin::-webkit-scrollbar { width: 4px; }
.scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
.scrollbar-thin::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 99px; }
